.button {

  &--submit {
    display: flex;
    background-color: transparent;
    width: 34px;
    height: 34px;
  }

  cursor: pointer;
}

.button__icon {
  width: 34px;
  height: 34px;
  fill: $button-primary;

  &:hover {
    filter: drop-shadow();
  }

  &:active {
    filter: drop-shadow();
  }
}
