.page__body {
  display: grid;
  grid-template-rows: 1fr min-content;

  &--inner {
    grid-template-rows: min-content 1fr min-content;
  }
}

.page__main {
  display: none;

  &:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:target {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:target ~ &:last-of-type {
    display: none;
  }
}

.page__header {
  padding: 20px 0;
  background-image: linear-gradient(to bottom, #B3E2ED 50%, #ffffff);
}
