.page {
  min-width: $width-min;
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;

  @include font_primary($font-regular);
  font-size: $font-size-mobile;
  line-height: $line-height-mobile;
  color: $text-primary;
  background-color: $bg-primary;

  @media (min-width: $min-tablet) {
    font-size: $font-size-tablet;
    line-height: $line-height-tablet;
  }

  @media (min-width: $min-desktop) {
    font-size: $font-size-desktop;
    line-height: $line-height-desktop;
  }
}

.page__header {
  padding: 20px 0;
  background-color: $bg-secondary;
}

.page__main {
  padding-bottom: 20px;
}

.page__footer {
  padding: 10px 0;

  @media (min-width: $min-tablet) {
    padding: 20px 0;
  }

  @media (min-width: $min-desktop) {
    padding: 25px 0;
  }
}
